################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TimeFromSeconds/v15/Server/sqlite3/db.lock
*.pdb
*.dll
/.vs/TimeFromSeconds/DesignTimeBuild/.dtbcache
/.vs/TimeFromSeconds/v15/.suo
*.ide-shm
/.vs/TimeFromSeconds/DesignTimeBuild/.dtbcache.v2
/.vs/TimeFromSeconds/v16/.suo
/.vs/TimeFromSeconds/v16/Server/sqlite3/storage.ide
/TimeFromSeconds/bin/Debug/netcoreapp2.1/TimeFromSeconds-CLI.dll
/TimeFromSeconds/bin/Debug/netcoreapp2.1/TimeFromSeconds-CLI.pdb
/TimeFromSeconds/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
/TimeFromSeconds/obj/Debug/netcoreapp2.1/TimeFromSeconds-CLI.csproj.CoreCompileInputs.cache
/TimeFromSeconds/obj/Debug/netcoreapp2.1/TimeFromSeconds-CLI.csproj.FileListAbsolute.txt
/TimeFromSeconds/obj/Debug/netcoreapp2.1/TimeFromSeconds-CLI.dll
/TimeFromSeconds/obj/Debug/netcoreapp2.1/TimeFromSeconds-CLI.genruntimeconfig.cache
/TimeFromSeconds/obj/project.assets.json
/TimeFromSeconds/obj/project.nuget.cache
/TimeFromSeconds/obj/TimeFromSeconds-CLI.csproj.nuget.dgspec.json
/TimeFromSeconds/obj/TimeFromSeconds-CLI.csproj.nuget.g.props
/TimeFromSeconds/obj/project.assets.json
/TimeFromSeconds/obj/Debug/netcoreapp2.1/TimeFromSeconds-CLI.pdb
/TimeFromSeconds/obj/Debug/netcoreapp2.1/TimeFromSeconds-CLI.pdb
/TimeFromSeconds/bin/Debug/netcoreapp2.1/TimeFromSeconds-CLI.pdb
/.vs/TimeFromSeconds/v16/.suo
/.vs/TimeFromSeconds/v16/Server/sqlite3/storage.ide
/TimeFromSeconds/bin/Debug/netcoreapp2.1/TimeFromSeconds-CLI.dll
/TimeFromSeconds/bin/Debug/netcoreapp2.1/TimeFromSeconds-CLI.pdb
*.cache
/TimeFromSeconds/obj/Debug/netcoreapp2.1/TimeFromSeconds-CLI.csproj.FileListAbsolute.txt
/TimeFromSeconds/obj/Debug/netcoreapp2.1/TimeFromSeconds-CLI.csprojAssemblyReference.cache
/TimeFromSeconds/obj/Debug/netcoreapp2.1/TimeFromSeconds-CLI.dll
/TimeFromSeconds/obj/Debug/netcoreapp2.1/TimeFromSeconds-CLI.pdb
/TimeFromSeconds/obj/project.assets.json
/TimeFromSeconds/obj/TimeFromSeconds-CLI.csproj.nuget.dgspec.json
/TimeFromSeconds/obj/TimeFromSeconds-CLI.csproj.nuget.g.props
/.vs/TimeFromSeconds/v16/.suo
/TimeFromSeconds/bin/Debug/netcoreapp2.1/TimeFromSeconds-CLI.dll
/.vs/TimeFromSeconds/v16/.suo
/.vs/TimeFromSeconds/v16/.suo
